@charset "utf-8";
main table    {
    /*white-space: nowrap;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    width: 90%;
    border-collapse: collapse;
}
main p {
    margin-left: 3%;
    margin-bottom: 3%;
}
main .abc  {
    margin-bottom: 10px;
}

main ul {
    margin-left: 6%;
    margin-top: 20px;
}
main table th {
    width: 40%;
    background-color: #b4d1d7;

}
main table th a {
  color: #7c0606;
}
main table th a:hover {
  text-decoration:underline;
  color: #7c0606;
}
main table td {
    width: 100%;
}
main table td a {
  color: #7c0606;
  text-decoration: none;
}
main table td a:hover {
  color: #7c0606;
  text-decoration: underline;
}
.clickover ul li a {
	color: #fff;
  text-decoration:underline;
}
.clickover ul li a:hover {
	text-decoration: underline;
	color: #7c0606;
}
.box table th {
  background: #6392c6;
  border: solid 1px #ccc;
  color: #fff;
  padding-top: 1.5%;
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 1.5%;
}
.box table td {
  border: solid 1px #ccc;
  padding-top: 1.5%;
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 1.5%;
}
.box .clickover .list a {
  color: #7c0606;
  text-decoration: none;
}
.box .clickover .list a:hover {
  text-decoration: underline;
  color: #7c0606;
}


 
@media screen and (max-width:875px){
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
.box th,
.box td {
　　border-bottom: none;
    display: block;
    width: 99%;
  }
main .click .dfg {
  width: 100%;
}


}
